
* {
	margin: 0;
	padding: 0;
}

.main {
	width: 912px;
	margin: 0 auto;
}

.blick_copy {
  background-image: url("../img/blick-copy.png");
  /*position: absolute;*/
  left: 45px;
  top: 54px;
  width: 909px;
  height: 237px;
  z-index: 318;
}
