
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, sans-serif;
}
main {
	width: 910px;
	margin: 0 auto;
	position: relative;
}

header {
	position: relative;
	height: 25px;
	width: 100%;
	margin-top: 18px;
	/*border: 1px solid #000;*/
	
}

.circle__phone {
	position: absolute;
	left: 7px;
	bottom: -1px;
	width: 22px;
	height: 22px;
}

.number__phone {
	position: absolute;
	bottom: -4px;
	 left: 33px; 
}

form {
  border-radius: 3px;
  background-image: -moz-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  box-shadow: 1.5px 2.598px 3px 0px rgb( 150, 150, 150 );
  position: absolute;
  left: 314px;
  top: 0px;
  width: 496px;
  height: 27px;
  z-index: 84;

}
.form__user {
	position: absolute;
	top: 4px;
	left: 7px;
}
#login, #password {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 115px;
	height: 18px;
	background-color: white;
	border: 1px solid #9ba1a3;
	padding-left: 3px;
	/*padding-top: -3px;*/
	font-family: LucidaSansUnicode, sans-serif;
	font-size: 12px;
}
#login {
	position: absolute;
	top: 2px;
	left: 24px;
}
#password {
	position: absolute;
	top: 2px;
	left: 145px;
	
}
.form__button {
	position: absolute;
	top: 3px;
	left: 266px;
	
	background-color: transparent;
	border-color: transparent;
	font-family: LucidaSansUnicode, sans-serif;
	font-size: 12px;
	color: #fff;
  	cursor: pointer;
  	
}
figure {
	position: absolute;
  	background-image: url("../img/blick-copy.png");
	top: 36px;
	width: 909px;
	height: 237px;
}



/*
.Группа_1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1000px;
  height: 1310px;
  z-index: 116;
}
.телефонная_трубочка {
  background-image: url("телефонная трубочка.png");
  position: absolute;
  left: 55px;
  top: 22px;
  width: 15px;
  height: 20px;
  z-index: 115;
}
.Shape_8 {
  border-radius: 50%;
  background-image: -moz-linear-gradient( 90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  position: absolute;
  left: 52px;
  top: 22px;
  width: 22px;
  height: 21px;
  z-index: 114;
}



*/