
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, sans-serif;
}
main {
	width: 910px;
	margin: 0 auto;
	position: relative;
}

header {
	position: relative;
	height: 25px;
	width: 100%;
	margin-top: 18px;
	/*border: 1px solid #000;*/
	
}

.circle__phone {
	position: absolute;
	left: 7px;
	bottom: -1px;
	width: 22px;
	height: 22px;
}

.number__phone {
	position: absolute;
	bottom: -4px;
	 left: 33px; 
}

form {
  border-radius: 3px;
  background-image: -moz-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  box-shadow: 1.5px 2.598px 3px 0px rgb( 150, 150, 150 );
  position: absolute;
  left: 314px;
  top: 0px;
  width: 496px;
  height: 25px;
  z-index: 84;

}
.form__user {
	position: absolute;
	top: 4px;
	left: 7px;
}
#login, #password {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 115px;
	height: 18px;
	background-color: white;
	border: 1px solid #9ba1a3;
	padding-left: 4px;
	/*padding-top: -3px;*/
	font-family: LucidaSansUnicode, sans-serif;
	font-size: 11px;
	letter-spacing: 0.04em;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
}
#login {
	position: absolute;
	top: 3px;
	left: 25px;
}
#password {
	position: absolute;
	top: 3px;
	left: 146px;
	
}
.form__button{
	position: absolute;
	top: 2px;
	left: 265px;
	
	background-color: transparent;
	border-color: transparent;
	font-family:  "Conv_Lucida Sans Unicode", sans-serif;
	font-size: 11px;
	letter-spacing: 0.02em;
	color: #fff;
  	cursor: pointer;
  	
}
.registration a, .forget__password a {
	text-decoration: none;
	color: #FFF;
}
.registration {
	display: block;
	position: absolute;
	top: 4px;
	left: 303px;
	font-family: "Conv_Lucida Sans Unicode", sans-serif;
	font-size: 11px;
	font-size: 11px;
	letter-spacing: -0.015em;
	color: #fff;
  	cursor: pointer;
} 
.forget__password {
	display: block;
	position: absolute;
	top: 5px;
	right: 11px;
	font-family: "Conv_Lucida Sans Unicode", sans-serif;
	font-size: 11px;
	letter-spacing: 0.05em;
	color: #bfbfbf;
	line-height: 1.38em;
  	cursor: pointer;
  	border-bottom: 1px solid #bfbfbf;
  	font-weight: normal;
}
.vertical__line {
	position: absolute;
	right: 197px;
	top: 8px;
	width: 1px;
	height: 10px;
	background-color: #FFF;
	color: green;
}
.links_header {
	position: absolute;
	top: 0;
	right: 7px;
	width: 75px;
	height: 20px;
	border: 1px solid #bdc4c7;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.wrapper_links_header {
	position: relative;
}
#links_home, #links_mapsite, #links_mail {
	position: absolute;
	top: -1px;
}
#links_home {
	left: 8px;
}
#links_mapsite {
	left: 28px;
}
#links_mail {
	left: 51px;
}
figure {
	position: absolute;
  	background-image: url("../img/blick-copy.png");
	top: 36px;
	width: 909px;
	height: 237px;
}
nav {
position: absolute;
top: 279px;
left: 0;
width: 910px;
height: 33px;
/*background-color: white;
background-image: linear-gradient(to top, black 0%, #576068 100%);*/
background:url(../img/nav_bg.png) repeat-x;
border: 1px solid #0d1642;
border-radius: 5px;
box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.75);
}
nav ul {
	margin-left: 124px;
}
nav ul li {
	display: inline-block;
	list-style: none;
	margin-top: 3px;
	margin-bottom: 4px;
	height: 26px;
}
nav ul li:hover{
}
nav ul a {
	padding-left: 22px;
	padding-right: 9px;
	letter-spacing: -0.015em;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #B1BCC0;
	font-family: "Conv_Lucida Sans Unicode", sans-serif;
	font-size: 14px;
	/*width: 123px;*/
	line-height: 26px;
}
nav ul a:hover {
	color: #FFF;
	background-color: #f60303;
	background-image: -webkit-linear-gradient(#206988 0%, #114165 59%, #0c3256 100%);
	background-image: -o-linear-gradient(#206988 0%, #114165 59%, #0c3256 100%);
	background-image: linear-gradient(#206988 0%, #114165 59%, #0c3256 100%);
	-webkit-border-radius: 25px;
	        border-radius: 25px;
}
/*
.Группа_1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1000px;
  height: 1310px;
  z-index: 116;
}
.телефонная_трубочка {
  background-image: url("телефонная трубочка.png");
  position: absolute;
  left: 55px;
  top: 22px;
  width: 15px;
  height: 20px;
  z-index: 115;
}
.Shape_8 {
  border-radius: 50%;
  background-image: -moz-linear-gradient( 90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  position: absolute;
  left: 52px;
  top: 22px;
  width: 22px;
  height: 21px;
  z-index: 114;
}



*/
